In [2]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/niteen11/data301_predictive_analytics_machine_learning/66deff40ebee4baa81e91dad09c8caa8e5eada54/data/COVID-19_Daily_Testing.csv')

In [4]:
df

          Date  ... People Not-Positive - Unknown Race/Ethnicity
0     03-01-20  ...                                            0
1     05-02-20  ...                                          921
2   05/14/2020  ...                                        1,773
3     03-05-20  ...                                            7
4     03-06-20  ...                                            9
..         ...  ...                                          ...
84  04/26/2020  ...                                          588
85  03/17/2020  ...                                          236
86    05-05-20  ...                                        1,958
87    04-06-20  ...                                          636
88  03/29/2020  ...                                          331

[89 rows x 59 columns]

In [5]:
df.head

<bound method NDFrame.head of           Date  ... People Not-Positive - Unknown Race/Ethnicity
0     03-01-20  ...                                            0
1     05-02-20  ...                                          921
2   05/14/2020  ...                                        1,773
3     03-05-20  ...                                            7
4     03-06-20  ...                                            9
..         ...  ...                                          ...
84  04/26/2020  ...                                          588
85  03/17/2020  ...                                          236
86    05-05-20  ...                                        1,958
87    04-06-20  ...                                          636
88  03/29/2020  ...                                          331

[89 rows x 59 columns]>

In [6]:
df.shape

(89, 59)

In [7]:
df.columns

Index(['Date', 'Day', 'Tests', 'Cases', 'People Not-Positive - Total',
       'People Tested - Age 0-17', 'People Tested - Age 18-29',
       'People Tested - Age 30-39', 'People Tested - Age 40-49',
       'People Tested - Age 50-59', 'People Tested - Age 60-69',
       'People Tested - Age 70-79', 'People Tested - Age 80+',
       'People Tested - Age Unknown', 'People Tested - Female',
       'People Tested - Male', 'People Tested - Gender Unknown',
       'People Tested - Latinx', 'People Tested - Asian Non-Latinx',
       'People Tested - Black Non-Latinx', 'People Tested - White Non-Latinx',
       'People Tested - Other Race Non-Latinx',
       'People Tested - Unknown Race/Ethnicity', 'People Positive - Age 0-17',
       'People Positive - Age 18-29', 'People Positive - Age 30-30',
       'People Positive - Age 40-49', 'People Positive - Age 50-59',
       'People Positive - Age 60-69', 'People Positive - Age 70-79',
       'People Positive - Age 80+', 'People Positive - Age Unknown',
       'People Positive - Female', 'People Positive - Male',
       'People Positive - Gender Unknown', 'People Positive - Latinx',
       'People Positive - Asian Non-Latinx',
       'People Positive - Black Non-Latinx',
       'People Positive - White Non-Latinx',
       'People Positive - Other Race Non-Latinx',
       'People Positive - Unknown Race/Ethnicity',
       'People Not-Positive - Age 0-17', 'People Not-Positive - Age 18-29',
       'People Not-Positive - Age 30-39', 'People Not-Positive - Age 40-49',
       'People Not-Positive - Age 50-59', 'People Not-Positive - Age 60-69',
       'People Not-Positive - Age 70-79', 'People Not-Positive - Age 80+',
       'People Not-Positive - Age Unknown', 'People Not-Positive - Female',
       'People Not-Positive - Male', 'People Not-Positive - Gender Unknown',
       'People Not-Positive - Latinx',
       'People Not-Positive - Asian Non-Latinx',
       'People Not-Positive - Black Non-Latinx',
       'People Not-Positive - White Non-Latinx',
       'People Not-Positive - Other Race Non-Latinx',
       'People Not-Positive - Unknown Race/Ethnicity'],
      dtype='object')

In [8]:
x = df[[ 'Day', 'Date', 'Tests', 'Cases',]]

In [9]:
x

         Day        Date  Tests  Cases
0     Sunday    03-01-20      1      0
1   Saturday    05-02-20  2,431    705
2   Thursday  05/14/2020  4,098    772
3   Thursday    03-05-20     17      1
4     Friday    03-06-20     18      3
..       ...         ...    ...    ...
84    Sunday  04/26/2020  1,556    425
85   Tuesday  03/17/2020    559     96
86   Tuesday    05-05-20  4,459  1,078
87    Monday    04-06-20  1,695    580
88    Sunday  03/29/2020    779    282

[89 rows x 4 columns]

In [10]:
y = df[df['Day'] == 'Monday']

In [11]:
z = y[['Day', 'Date', 'Cases', 'Tests']]

In [12]:
z
## compairing cases and tests done on Monday

       Day        Date  Cases  Tests
6   Monday    05-04-20  1,127  4,141
22  Monday    03-09-20      5     66
26  Monday  05/25/2020    252  1,645
41  Monday    03-02-20      0      9
44  Monday  05/18/2020    941  5,748
53  Monday  04/20/2020    975  3,047
54  Monday    05-11-20  1,009  4,699
65  Monday  03/23/2020    292  1,217
68  Monday  04/13/2020    678  2,144
69  Monday  03/30/2020    442  1,293
76  Monday  04/27/2020  1,137  3,676
79  Monday  03/16/2020     78    442
87  Monday    04-06-20    580  1,695

In [13]:
z.sum

<bound method DataFrame.sum of        Day        Date  Cases  Tests
6   Monday    05-04-20  1,127  4,141
22  Monday    03-09-20      5     66
26  Monday  05/25/2020    252  1,645
41  Monday    03-02-20      0      9
44  Monday  05/18/2020    941  5,748
53  Monday  04/20/2020    975  3,047
54  Monday    05-11-20  1,009  4,699
65  Monday  03/23/2020    292  1,217
68  Monday  04/13/2020    678  2,144
69  Monday  03/30/2020    442  1,293
76  Monday  04/27/2020  1,137  3,676
79  Monday  03/16/2020     78    442
87  Monday    04-06-20    580  1,695>

In [28]:
a = df[['Date', 'Day', 'Tests', 'Cases']]

In [32]:
b = a['Cases']

In [34]:
b.head(10)

0        0
1      705
2      772
3        1
4        3
5        3
6    1,127
7      870
8      768
9       11
Name: Cases, dtype: object

In [35]:
c = a.sort_values(by = 'Cases', ascending= False)

In [36]:
c
## Which day had the most amount to testing

          Date        Day  Tests Cases
50  05/15/2020     Friday  5,529   986
53  04/20/2020     Monday  3,047   975
39    05-06-20  Wednesday  4,338   964
85  03/17/2020    Tuesday    559    96
44  05/18/2020     Monday  5,748   941
..         ...        ...    ...   ...
3     03-05-20   Thursday     17     1
81    03-04-20  Wednesday     41     0
67    03-03-20    Tuesday     33     0
41    03-02-20     Monday      9     0
0     03-01-20     Sunday      1     0

[89 rows x 4 columns]

In [37]:
d = a.sort_values(by= 'Tests', ascending= False)

In [38]:
d
## Which day had the most testing

          Date        Day  Tests Cases
57    04-12-20     Sunday    993   333
51    04-04-20   Saturday    983   323
77    03-12-20   Thursday     97    21
49  03/19/2020   Thursday    943   186
41    03-02-20     Monday      9     0
..         ...        ...    ...   ...
45    04-11-20   Saturday  1,293   391
60  03/24/2020    Tuesday  1,286   353
75  03/25/2020  Wednesday  1,252   367
65  03/23/2020     Monday  1,217   292
0     03-01-20     Sunday      1     0

[89 rows x 4 columns]